.navbar {
  height: 61px;
  color: $body-color;
	@media (max-width: 690px) {
		height: 51px;
  }
}
.navbar-inverse {
	background-image: image-url('headerbg_2019.png');
  background-size: 685px 230px;
  background-position: top;
	background-repeat: repeat-x;
	border-color: #fff;
	background-color: $base-color;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:focus {
	font-family: $font-family;
  color: $body-color;
	transition: background-color .2s ease-out;
	&:hover {
		color: $body-color;
    background-color: rgba(#fff, 0.4);
	}
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: $body-color;
	background-color: rgba(white, 0.4);
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a .caret, .navbar-inverse .navbar-nav > .open > a:hover .caret, .navbar-inverse .navbar-nav > .open > a:focus .caret,
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: $body-color;
  border-bottom-color: $body-color;
}
.logo-rubykaigi {
	width: 180px;
	height: 46px;
}
.navbar-brand {
  float: left;
  padding: 21px 15px;
	@media (max-width: 690px) {
		padding: 15px;
  }
	&.is-image {
		padding: 8px 16px;
		@media (max-width: 690px) {
			padding: 2px 16px;
		}
	}
	&:hover {
		opacity: 0.8;
	}
}
@media (min-width: 690px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: $body-color;
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: mix($base-color, #000, 80%);
}

.navbar-inverse .navbar-brand {
	font-family: $font-family;
  color: $body-color;
}

@media (max-width: 690px) {
  .navbar-collapse {
    background-color: $base-color;
  }
  .navbar-nav li a.review_nav {
    color: #999;
  }
  .navbar-inverse .navbar-nav .open a:focus {
    background-color: #777;
  }
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: $body-color;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(white, .7);
}

.navbar-inverse .navbar-nav > li > a.review_nav,
.navbar-inverse .navbar-nav > li > a.review_nav:hover,
.navbar-inverse .navbar-nav > li > a.review_nav:focus,
.navbar-inverse .navbar-nav > .open > a.review_nav,
.navbar-inverse .navbar-nav > .open > a.review_nav:hover,
.navbar-inverse .navbar-nav > .open > a.review_nav:focus {
	color: $review-color;
}

.navbar-inverse .navbar-nav > li > a.organize_nav,
.navbar-inverse .navbar-nav > li > a.organize_nav:hover,
.navbar-inverse .navbar-nav > li > a.organize_nav:focus,
.navbar-inverse .navbar-nav > .open > a.organize_nav,
.navbar-inverse .navbar-nav > .open > a.organize_nav:hover,
.navbar-inverse .navbar-nav > .open > a.organize_nav:focus {
	color: $admin-color;
}
