.navbar {
	height: 61px;
}
.navbar-inverse {
	background-image: image-url('headerbg_2017.png');
	background-repeat: repeat-x;
	background-size: 300px 300px;
	border-color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
	font-family: $font-family;
  color: $color-black;
	&:hover {
		color: $color-black;
    background: rgba(#fff, 0.6);
	}
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: $color-black;
	background: rgba($color-pink, 0.2);
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a .caret, .navbar-inverse .navbar-nav > .open > a:hover .caret, .navbar-inverse .navbar-nav > .open > a:focus .caret,
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: $color-black;
  border-bottom-color: $color-black;
}
.logo-rubykaigi2017 {
	margin-top: -10px;
	width: 255px;
	height: 42px;
}
.navbar-brand {
  float: left;
  padding: 18px 15px;
	&:hover {
		opacity: 0.8;
	}
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #000;
}

.navbar-inverse .navbar-brand {
	font-family: $font-family;
  color: $color-black;
}

@media (max-width: 690px) {
  .navbar-collapse {
    background-color: #000;
  }
  .navbar-nav li a.review_nav {
    color: #999;
  }
  .navbar-inverse .navbar-nav .open a:focus {
    background-color: #777;
  }
}
